body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #223344;
  color: #fff;
}

h1, h2, h3, h4 {
  font-family: 'Georgia', serif;
}

.hero {
  text-align: center;
  padding: 40px 20px;
}

.hero h1 {
  font-size: 3em;
  margin-bottom: 10px; 
}

.hero p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff; /* Цвет кнопки */
  color: #fff;
  text-decoration: none; 
  border-radius: 5px;
  margin: 0 10px;
  transition: background-color 0.3s; /* Плавное изменение цвета */
}

.btn:hover {
  background-color: #0062cc; /* Цвет при наведении */
}

.section {
  padding: 20px;
}

.section h2 { 
  font-size: 2em;
  margin-bottom: 15px;
}

/* Добавить стили для иконок и других элементов по необходимости */
