/* Импортируем шрифты */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@700&display=swap');

/* Основные стили */
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    line-height: 1.6;
    background: linear-gradient(to bottom, #ecf0f1, #ffffff);
    color: #333;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Стили для шапки сайта */
header {
    background-color: #fff;
    padding: 20px 0; /* Уменьшаем padding */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

.header-content {
    display: flex;
    align-items: flex-start; 
    justify-content: space-between;
    flex-wrap: wrap; /* Позволяем элементам переноситься */
}

.profile {
    display: flex;
    align-items: center; /* Выравнивание по центру */
    margin-bottom: 20px; 
}

.profile-photo {
    width: 150px; /* Уменьшаем ширину фото */
    height: 225px; /* Уменьшаем высоту фото */
    margin-right: 20px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.profile-info {
    display: flex;
    flex-direction: column;
}

.profile-info h1 {
    margin: 0 0 5px 0;
    font-size: 24px;
}

.profile-info p {
    margin: 0;
    font-size: 18px;
    color: #555;
}

/* Стили для QR-кода */
.qr-code-link {
    display: none; 
    align-self: flex-start;
    margin-top: 20px; /* Добавляем отступ сверху */
}

.qr-code {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

/* Стили для кнопок */
.buttons {
    display: flex;
    flex-wrap: wrap; /* Позволяем кнопкам переноситься */
    justify-content: center; /* Центрируем кнопки */
    margin-top: 20px;
}

.button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #2980b9;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease, box-shadow 0.2s ease;
    font-size: 16px;
    margin: 5px; 
    min-width: 120px; /* Уменьшаем минимальную ширину */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.button:hover {
    background-color: #20638f;
    box-shadow: 0px 4px 8px rgba(32, 99, 143, 0.4);
}

/* Стили для разделов */
section {
    margin-bottom: 40px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

section.show {
    opacity: 1;
    transform: translateY(0);
}

h2 {
    color: #2980b9; 
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}

h2 i {
    margin-right: 10px;
    color: #2980b9; 
}

ul {
    list-style-type: disc;
    padding-left: 40px;
}

/* Стили для опыта работы */
.experience-item {
    margin-bottom: 30px;
}

.company {
    font-weight: bold;
}

.dates {
    font-weight: normal;
    font-style: italic;
    font-size: 0.9em;
}

/* Стили для образования */
.education-item {
    margin-bottom: 20px;
}

.speciality {
    font-style: italic;
}

/* Стили для контактов */
#contact ul {
    list-style-type: none;
    padding: 0;
}

#contact li {
    margin-bottom: 10px;
}

/* Стили для подвала */
footer {
    background-color: #2980b9;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-top: 40px;
}

/* Пример стилей для раздела "Герой" */
#hero {
    padding: 60px 0; /* Уменьшаем padding */
    text-align: center;
}

#hero h2 {
    color: #2980b9; 
}

#hero p {
    color: #2980b9; 
    max-width: 700px;
    margin: 0 auto;
    font-weight: bold;
}

/* Разделители секций */
.container > section:not(:last-child) {
    border-bottom: 1px solid #ddd;
    padding-bottom: 40px;
}

/* Адаптивный дизайн */
@media screen and (max-width: 768px) {
    .header-content {
        flex-direction: column;
        align-items: center;
    }

    .profile {
        margin-bottom: 20px;
        flex-direction: column; /* Размещаем фото и информацию в колонку */
        align-items: center; /* Выравнивание по центру */
    }
    
    .profile-photo {
        margin-right: 0; /* Убираем отступ справа */
        margin-bottom: 10px; /* Добавляем отступ снизу */
    }
    
    .buttons {
        text-align: center;
        display: flex;
        flex-direction: column; /* Кнопки в столбик */
        align-items: center;
    }

    .button {
        width: 100%;
        margin: 5px 0;
    }

    /*  Скрываем  QR-код  на  мобильных  */
    .qr-code-link {
        display: none;
    }
}

/* Показываем QR-код на десктопных устройствах */
@media screen and (min-width: 769px) {
    .qr-code-link {
        display: block;
    }
}
